#forButtons img{
    vertical-align: middle;
    height: 100%;
    transform: scale(30%);
}

#archiveSwitch:hover {
    background: rgb(82, 70, 70);
    cursor: pointer;
}

#archiveSwitch {
    background: rgba(0, 0, 0, 0);
    border: 0;
    margin-right: -4.5%;
}

#archiveSwitch:active{
    background: rgb(0 0 0 / 50%);
}